_EXE/Amur.Import.PUGMS/Service References/PUGMSServiceReference/HydroService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HydroLibrary.Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HydroLibrary.Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SensorDifference">
    <xs:sequence>
      <xs:element minOccurs="0" name="CntFault" type="xs:int" />
      <xs:element minOccurs="0" name="CntSite1" type="xs:int" />
      <xs:element minOccurs="0" name="CntSite2" type="xs:int" />
      <xs:element minOccurs="0" name="CntUnion" type="xs:int" />
      <xs:element minOccurs="0" name="Criteria" type="xs:float" />
      <xs:element minOccurs="0" name="Site1Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Site2Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SensorDifference" nillable="true" type="tns:SensorDifference" />
</xs:schema>