_EXE/Amur.Import.PUGMS/Service References/PUGMSServiceReference/HydroService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.116.90:8033/HydroService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://192.168.116.90:8033/HydroService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfKeyValuePairOfVariableMethodaI91Yjnm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfVariableMethodaI91Yjnm" type="tns:KeyValuePairOfVariableMethodaI91Yjnm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfVariableMethodaI91Yjnm" nillable="true" type="tns:ArrayOfKeyValuePairOfVariableMethodaI91Yjnm" />
  <xs:complexType name="KeyValuePairOfVariableMethodaI91Yjnm">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Variable" Namespace="http://schemas.datacontract.org/2004/07/" />
          <GenericParameter Name="Method" Namespace="http://schemas.datacontract.org/2004/07/" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" name="key" nillable="true" type="q1:Variable" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" name="value" nillable="true" type="q2:Method" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfVariableMethodaI91Yjnm" nillable="true" type="tns:KeyValuePairOfVariableMethodaI91Yjnm" />
</xs:schema>