_EXE/Amur.Import.PUGMS/Service References/PUGMSServiceReference/HydroService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HydroLibrary.BL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HydroLibrary.BL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAltSiteVariableItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AltSiteVariableItem" nillable="true" type="tns:AltSiteVariableItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAltSiteVariableItem" nillable="true" type="tns:ArrayOfAltSiteVariableItem" />
  <xs:complexType name="AltSiteVariableItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AltSiteId" type="xs:int" />
      <xs:element minOccurs="0" name="AltVariableId" type="xs:int" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
      <xs:element minOccurs="0" name="VariableId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AltSiteVariableItem" nillable="true" type="tns:AltSiteVariableItem" />
</xs:schema>