_EXE/Amur.Import.PUGMS/Service References/PUGMSServiceReference/HydroService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HydroLibrary.BL.SyncData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HydroLibrary.BL.SyncData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.116.90:8033/HydroService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SyncUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SiteIds" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SyncUser" nillable="true" type="tns:SyncUser" />
</xs:schema>