_EXE/WCFServiceField/_TestWCFServiceField/Service References/ServiceFieldReference/Service5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FERHRI.Amur.Meta" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FERHRI.Amur.Meta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8010/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Method" nillable="true" type="tns:Method" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMethod" nillable="true" type="tns:ArrayOfMethod" />
  <xs:complexType name="Method">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MethodForecast" nillable="true" type="tns:MethodForecast" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MethodOutputStoreParameters" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" type="xs:short" />
      <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Method" nillable="true" type="tns:Method" />
  <xs:complexType name="MethodForecast">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DateIniHoursUTC" nillable="true" type="q2:ArrayOfdouble" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LeadTimesHours" nillable="true" type="q3:ArrayOfdouble" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="tns:Method" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MethodForecast" nillable="true" type="tns:MethodForecast" />
</xs:schema>