_EXE/WCFServiceField/_TestWCFServiceField/Service References/FieldServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8010/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8010/Service.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/SOV.Common" />
  <xs:complexType name="ArrayOfMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Method" nillable="true" type="tns:Method" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMethod" nillable="true" type="tns:ArrayOfMethod" />
  <xs:complexType name="Method">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SOV.Common" base="q1:IdName">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MethodOutputStoreParameters" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
          <xs:element minOccurs="0" name="Order" type="xs:short" />
          <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SourceLegalEntityId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Method" nillable="true" type="tns:Method" />
</xs:schema>