_EXE/WCFServiceField/_TestWCFServiceField/Service References/FieldServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOV.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOV.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IdName">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdClass">
        <xs:sequence>
          <xs:element minOccurs="0" name="Entity" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdName" nillable="true" type="tns:IdName" />
  <xs:complexType name="IdClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdClass" nillable="true" type="tns:IdClass" />
</xs:schema>