_EXE/WCFServiceField/_TestWCFServiceField/Service References/FieldServiceReference/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8010/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8010/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SOV.SGMO" />
  <xs:import schemaLocation="http://localhost:8010/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SOV.Geo" />
  <xs:import schemaLocation="http://localhost:8010/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SOV" />
  <xs:import schemaLocation="http://localhost:8010/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" />
  <xs:element name="Open">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpenResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Close">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseByUserNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtentForecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="dateIni" type="xs:dateTime" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="leadTimes" nillable="true" type="q1:ArrayOfdouble" />
        <xs:element minOccurs="0" name="methodId" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOV.SGMO" minOccurs="0" name="varoffs" nillable="true" type="q2:ArrayOfVaroff" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SOV.Geo" minOccurs="0" name="grs" nillable="true" type="q3:ArrayOfGeoRectangle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtentForecastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SOV" minOccurs="0" name="GetExtentForecastResult" nillable="true" type="q4:ArrayOfArrayOfArrayOfField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesForecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="dateIni" type="xs:dateTime" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="leadTimes" nillable="true" type="q5:ArrayOfdouble" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pointCatalogsId" nillable="true" type="q6:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesForecastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSitesForecastResult" nillable="true" type="q7:ArrayOfKeyValueOfdoubleArrayOfdoublety7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMethods">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMethodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" minOccurs="0" name="GetMethodsResult" nillable="true" type="q8:ArrayOfMethod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackForecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hSvc" type="xs:long" />
        <xs:element minOccurs="0" name="dateIni" type="xs:dateTime" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SOV.Geo" minOccurs="0" name="track" nillable="true" type="q9:ArrayOfGeoPoint" />
        <xs:element minOccurs="0" name="pointMethodId" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SOV.SGMO" minOccurs="0" name="pointVaroffs" nillable="true" type="q10:ArrayOfVaroff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackForecastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTrackForecastResult" nillable="true" type="q11:ArrayOfKeyValueOfdoubleArrayOfdoublety7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>