_EXE/WCFServiceField/_TestWCFServiceField/Service References/FieldServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8010/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8010/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8010/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8010/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SOV.SGMO" />
      <xsd:import schemaLocation="http://localhost:8010/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SOV.Geo" />
      <xsd:import schemaLocation="http://localhost:8010/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SOV" />
      <xsd:import schemaLocation="http://localhost:8010/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SOV.Amur.Meta" />
      <xsd:import schemaLocation="http://localhost:8010/Service.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/SOV.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Open_InputMessage">
    <wsdl:part name="parameters" element="tns:Open" />
  </wsdl:message>
  <wsdl:message name="IService_Open_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Close_InputMessage">
    <wsdl:part name="parameters" element="tns:Close" />
  </wsdl:message>
  <wsdl:message name="IService_Close_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CloseByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseByUserName" />
  </wsdl:message>
  <wsdl:message name="IService_CloseByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetExtentForecast_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExtentForecast" />
  </wsdl:message>
  <wsdl:message name="IService_GetExtentForecast_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExtentForecastResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSitesForecast_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesForecast" />
  </wsdl:message>
  <wsdl:message name="IService_GetSitesForecast_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesForecastResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMethods_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMethods" />
  </wsdl:message>
  <wsdl:message name="IService_GetMethods_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMethodsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTrackForecast_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackForecast" />
  </wsdl:message>
  <wsdl:message name="IService_GetTrackForecast_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackForecastResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Open">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Open" message="tns:IService_Open_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/OpenResponse" message="tns:IService_Open_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Close">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Close" message="tns:IService_Close_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CloseResponse" message="tns:IService_Close_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseByUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CloseByUserName" message="tns:IService_CloseByUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CloseByUserNameResponse" message="tns:IService_CloseByUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExtentForecast">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetExtentForecast" message="tns:IService_GetExtentForecast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetExtentForecastResponse" message="tns:IService_GetExtentForecast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSitesForecast">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSitesForecast" message="tns:IService_GetSitesForecast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSitesForecastResponse" message="tns:IService_GetSitesForecast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMethods">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMethods" message="tns:IService_GetMethods_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMethodsResponse" message="tns:IService_GetMethods_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrackForecast">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTrackForecast" message="tns:IService_GetTrackForecast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTrackForecastResponse" message="tns:IService_GetTrackForecast_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Open">
      <soap:operation soapAction="http://tempuri.org/IService/Open" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Close">
      <soap:operation soapAction="http://tempuri.org/IService/Close" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseByUserName">
      <soap:operation soapAction="http://tempuri.org/IService/CloseByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExtentForecast">
      <soap:operation soapAction="http://tempuri.org/IService/GetExtentForecast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSitesForecast">
      <soap:operation soapAction="http://tempuri.org/IService/GetSitesForecast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMethods">
      <soap:operation soapAction="http://tempuri.org/IService/GetMethods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackForecast">
      <soap:operation soapAction="http://tempuri.org/IService/GetTrackForecast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8010/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>