_EXE/WCFServiceField/_TestWCFServiceField/Service References/FieldServiceReference/Service811.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOV.SGMO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOV.SGMO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVaroff">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Varoff" nillable="true" type="tns:Varoff" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVaroff" nillable="true" type="tns:ArrayOfVaroff" />
  <xs:complexType name="Varoff">
    <xs:sequence>
      <xs:element minOccurs="0" name="OffsetTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="OffsetValue" type="xs:double" />
      <xs:element minOccurs="0" name="VariableId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Varoff" nillable="true" type="tns:Varoff" />
</xs:schema>