_EXE/WCFServiceField/_TestWCFServiceField/Service References/FieldServiceReference/Service62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FERHRI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FERHRI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.11.203.34:8010/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FERHRI.Geo" />
  <xs:import schemaLocation="http://10.11.203.34:8010/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://10.11.203.34:8010/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfArrayOfArrayOfField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfArrayOfField" nillable="true" type="tns:ArrayOfArrayOfField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfArrayOfField" nillable="true" type="tns:ArrayOfArrayOfArrayOfField" />
  <xs:complexType name="ArrayOfArrayOfField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfField" nillable="true" type="tns:ArrayOfField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfField" nillable="true" type="tns:ArrayOfArrayOfField" />
  <xs:complexType name="ArrayOfField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" nillable="true" type="tns:Field" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfField" nillable="true" type="tns:ArrayOfField" />
  <xs:complexType name="Field">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldFormat" type="tns:EnumFieldFormat" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FERHRI.Geo" minOccurs="0" name="Grid" nillable="true" type="q1:Grid" />
      <xs:element minOccurs="0" name="PredictTime" type="xs:double" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Value" nillable="true" type="q2:ArrayOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Field" nillable="true" type="tns:Field" />
  <xs:simpleType name="EnumFieldFormat">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="long" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="GRID">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XYZ">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumFieldFormat" nillable="true" type="tns:EnumFieldFormat" />
</xs:schema>